.reviews__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews__list h3 {
    margin: 0;
    padding: 0;
}

.reviews__list p {
    margin-top: 10px;
    margin-bottom: 0;
}